* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.statsContainer {

}

.lfz-card {
  background-image: url('../images/lfz-card.jpg');
  width: 100px;
  height: 100px;
  border: 1px solid brown;
}

.container {
  display: flex;
  width: 600px;
  height: 300px;
  justify-content: center;
  flex-wrap: wrap;
}
