/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

header {
  text-align: center;
  line-height: 5rem;
  margin-top: 0;
  height: 75px;
  background-color: white;
  border: 2px solid black;
  font-size: 50px;
  position: relative;
}

body {
  background-image: url('../images/lfz-background.jpg');
  background-size: auto;
}

aside {
  text-align: center;
  font-size: 22px;
}

.games-played,
.games-played-count,
.attempts,
.attempts-count,
.accuracy,
.accuracy-count{
  border: 1px solid black;
  height: 75px;
  display: inline-block;
  width: 175px;
  text-align: center;
  line-height: 4.5rem;
  background-color: lightblue;
}

.card {
  box-sizing: border-box;
  width: 125px;
  height: 150px;
  border: 1px solid white;
}

main {
  /* display: flex; */
  position: absolute;
  /* justify-content: center; */
  margin: 0 auto;
  width: 800px;
  top: 170px;
  left: 275px;
}

.avoid-clicks {
  pointer-events: none;
}

.container {
  display: inline-flex;
  /* position: relative; */
  width: 800px;
  height: 500px;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 2px solid chartreuse;
  padding: 5px;
  background-color: rgba(200, 0, 0, 0.4);
  transition:
}

.statsContainer {
  display: inline-block;
  position: relative;
  top: 75px;
  border: 2px solid black;
  width: 200px;
  height: 500px;
}

.css-logo,
.docker-logo,
.gitHub-logo,
.html-logo,
.js-logo,
.mysql-logo,
.node-logo,
.php-logo,
.react-logo {
  width: 125px;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.lfz-card {
  width: 125px;
  height: 150px;
  position: absolute;
  background-image: url('../images/lfz-card.jpg');
  background-position: center;
  background-size: cover;
}

.css-logo {
  background-image: url('../images/css-logo.png');
}

.docker-logo {
  background-image: url('../images/docker-logo.jpg');
}

.gitHub-logo {
  background-image: url('../images/gitHub-logo.png');
}

.html-logo {
  background-image: url('../images/html-logo.png');
}

.js-logo {
  background-image: url('../images/js-logo.png');
}

.mysql-logo {
  background-image: url('../images/mysql-logo.jpg');
}

.node-logo {
  background-image: url('../images/node-logo.png');
}

.php-logo {
  background-image: url('../images/php-logo.jpeg');
}

.react-logo {
  background-image: url('../images/react-logo.png');
}

.hidden {
  display: none;
}
